@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}
.nopadding{
padding: 0 !important;
}

.nomargin{
  margin:0 !important;
}
.dvfooter{
  min-height: 500px;
}
.mb-4{
  margin-bottom: 4%;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,0.8);
    z-index: 1;
}

.imagen { 
  width: 150px;
  height: 150px;
  border-radius: 150px; 
  -webkit-border-radius: 150px; 
  -moz-border-radius: 150px; 
  background: url(../img/foto-de-perfil.jpg) 
  no-repeat; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.0); 
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

.contenedor{ 
     background-color: rgb(255, 255, 255);
     -webkit-background-color: rgb(255, 255, 255); 
     -moz-background-color: rgb(255, 255, 255);
     padding: 5px; 
     width: 300px; 
     border-radius: 150px; 
     -webkit-border-radius: 150px; 
     -moz-border-radius: 150px; 
     box-shadow: 1px 1px 10px rgb(75, 75, 75);
    
}

.img-fluid{
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: block;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-body, .card-footer {
  padding: 1.25rem;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
} 
.bg-dark {
   color: #f8f8f8;
    background-color: #343a40!important;
}
.banner{
  height: 530px;
  padding: 100px 0;
  color: rgb(248, 248, 248);
  background: url("../img/banner.jpg") no-repeat center center;
  background-size:cover;
  }

.navbar-inverse{
  border:none!important; 
  border-radius: 0!important; 
  background: rgb(65, 78, 94) !important
}



.pull-right{
  float: right;
}

@media (max-width:768px){
  .pull-right{
    float: left !important;
  }
  .w100{
  width: 100%; 
  height: auto;
  float: left;
}
}

.active > a{
  background: rgb(124, 140, 162) !important;
}

ul > li > a{
  color: rgb(255, 255, 255) !important;
  font-size: 12pt !important;
  font-family: arial !important;
}

.navbar-toggle{
  background: rgb(124, 140, 162) !important;
  border: none !important;
}

.navbar-nav > li:hover > a{
  background: rgb(124, 140, 162) !important;
}

.navbar{
  margin-bottom: 0px !important
}
.content-section-a{
  padding: 50px 0;
  background-color: rgb(72, 127, 145);
}

.content-section-b{
  padding: 50px 0;
  border-top: 1px solid rgb(210, 122, 108);
  border-bottom: 1px solid rgb(210, 122, 108);
}

.hamb-top2{
  background: rgb(255, 255, 255) !important ;
}