@charset "utf-8";
/*es una prueba*/
*{
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background: white;
}
.nopadding{
padding: 0 !important;
}

.nomargin{
  margin:0 !important;
}
.dvfooter{
  min-height: 500px;
}
.mb-4{
  margin-bottom: 4%;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 58, 204,0.7);
    z-index: 1;
}

.imagen { 
  width: 300px;
  height: 300px;
  border-radius: 300px; 
  -webkit-border-radius: 300px; 
  -moz-border-radius: 300px; 
  background: url(../img/foto-de-perfil-jud.jpg) 
  no-repeat; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.0); 
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

.contenedor{ 
     background-color: rgb(255, 255, 255);
     -webkit-background-color: rgb(255, 255, 255); 
     -moz-background-color: rgb(255, 255, 255);
     padding: 5px; 
     width: 300px; 
     border-radius: 150px; 
     -webkit-border-radius: 150px; 
     -moz-border-radius: 150px; 
     box-shadow: 1px 1px 10px rgb(75, 75, 75);
    
}

.img-fluid{
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: block;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-body, .card-footer {
  padding: 1.25rem;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
} 

.banner{
  height: 300px;
  padding: 100px 0;
  color: rgb(248, 248, 248);
  background: url("../img/banner2.jpg") no-repeat center;
  background-size:cover;
  }

.navbar-inverse{
  border:none!important; 
  border-radius: 0!important; 
  background: rgb(65, 78, 94) !important
}



.pull-right{
  float: right;
}

@media (max-width:768px){
  .pull-right{
    float: left !important;
  }
  .w100{
  width: 100%; 
  height: auto;
  float: left;
}
}

.active > a{
  background: rgb(124, 140, 162) !important;
}

ul > li > a{
  color: rgb(255, 255, 255) !important;
  font-size: 12pt !important;
  font-family: arial !important;
}

.navbar-toggle{
  background: rgb(124, 140, 162) !important;
  border: none !important;
}

.navbar-nav > li:hover > a{
  background: rgb(124, 140, 162) !important;
}

.navbar{
  margin-bottom: 0px !important
}
.content-section-a{
  padding: 50px 0;
  background-color: rgb(102, 177, 207) !important;
}

.content-section-b{
  padding: 50px 0;
}

.hamb-top2{
  background: rgb(255, 255, 255) !important ;
}

.navbar-inverse{
  background: #151c4e !important;
}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #091040;
}

.sidebar-nav li:nth-child(2):before {
    background-color: #313592 !important;   
}

.sidebar-nav li:nth-child(3):before {
    background-color: #573ca4;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #5e5bd5;   
}

.texto{
  color: rgb(0, 0, 0) !important;
}

.section-heading{
  color: rgb(165, 116, 49) !important;
  font-family: helvetica;
}


#page-content-wrapper{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.bg-dark{
  color: white;
  background: rgb(0, 53, 93) !important;
}

.texto-miembros{
  color: rgb(13, 26, 67);
}

.lead{
  font-size: 20px;
  color: rgb(255, 255, 255) !important;
  font-family: helvetica !important;
  text-align: justify !important;
}

.content-section-c{
  padding: 50px 0;
  background-color: rgb(254, 230, 239) !important;
}

.enlace{
  color: rgb(174, 0, 1);
}