<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Judith Palacios</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style-judith.css" rel="stylesheet">
</head>

<body>
   <div class="container-fluid nopadding">
    <div id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top"
      id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="../index.html">Home</a>
        </li>
        <li><a href="#">H&eacute;ctor</a></li>
        <li><a href="Judith.html">Judith</a></li>
        <li><a href="Manuel.html">Manuel</a></li>      
      </ul>
    </nav>
    <section id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
  <article class="banner-stella content-section-a">
  <div class="banner1">
  <img src="../img/banner-bg-jud.png" class="img-fluid img-rounded">
    <div class="row">
      <div class="col-md-5">
      </div>
    </div>
  </div>
  </article>
  <article class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h2 class="section-heading"><strong>Sobre m&iacute;</strong></h2>
          <p class="lead">Tengo veintitantos años, de esos, la mayor&iacute;a la he pasado creando, escribiendo y mirando al cielo soñando sobre maravillas que a&uacute;n no se han visto. La vida no me ha sido f&aacute;cil pero he podido llevarlo bien a trav&eacute;s del arte y los idiomas como inspiraci&oacute;n de mis diseños a los que elaboro con amor. Mi marca personal es la est&eacute;tica y la feminidad, innovando con la escritura en prosa que se apropia en homenajes a la belleza y los sentimientos personales.</p>
          <p class="lead">"Soy una joven escritora por accidente, pensadora por casualidad y amante con intenci&oacute;n."</p>
        </div>
        <div class="col-md-3">
        <img class="imagen">
        </div>
      </div>
    </div>
  </article>
                     <article id="miSlide" class="carousel slide">
                <ol class="carousel-indicators">
                  <li class="active"  data-target="#miSlide" data-slide-to="0"></li>
                  <li data-target="#miSlide" data-slide-to="1"></li>
                  <li data-target="#miSlide" data-slide-to="2"></li> 
                  <li data-target="#miSlide" data-slide-to="3"></li>
                  <li data-target="#miSlide" data-slide-to="4"></li>
                </ol>
                
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../img/jud-img1.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/jud-img2.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/jud-img3.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                    </div> 
                  </div>
                  <div class="item">
                    <img src="../img/jud-img4.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                    </div>
                  </div>
                   <div class="item">
                    <img src="../img/jud-img5.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                    </div> 
                  </div>
                </div>

                <a href="#miSlide" class="left carousel-control" data-slide="prev">  
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#miSlide" class="right carousel-control" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

              </article>

  <article class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../img/3ce.png" class="img-fluid">
        </div>
          
        <div class="col-md-6">
          <br>
          <h2 class="section-heading"><strong>Diseño Editorial y Publicitario</strong></h2>
          <br>
          <p class="lead">Mi especialidad es el diseño de cat&aacute;logos y contenidos para redes sociales, actualmente soy muy activa en una de las marcas m&aacute;s grandes de la industria del maquillaje asi&aacute;tico en El Salvador, puedes ver mi portafolio del 2017 <a href="https://issuu.com/judithpalacios19/docs/portafoliojudithpalacios2017" class="enlace"> aqu&iacute;</a>.</p>
          <p class="lead">As&iacute; tambi&eacute;n el <a href="https://issuu.com/yumecutestore/docs/yumecutestorecat__logo2017" class="enlace">cat&aacute;logo</a> más representativo del 2017 para la tienda <a href="https://www.facebook.com/YumeCuteStore/" class="enlace">Yume Cute Store: Productos Asi&aacute;ticos en El Salvador</a>, donde hice una profunda renovaci&oacute;n de imagen de marca teniendo relevancia en el mercado y reconocimiento en p&aacute;ginas de marketing como innovadora.</p></p>
        </div>
      </div>
    </div>
  </article>
  <article class="content-section-c">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="section-heading"><strong>Fotograf&iacute;a</strong></h2>
          <br>
          <p class="lead">Siendo una de mis especialidades me inspiro por la belleza de la naturaleza, particularmente la playa y el oc&eacute;ano, y la simetr&iacute;a de los objetos cotidianos que me rodean teniendo como sello personal fotos con alto contraste de colores y fotos con conceptos personales que activan sensaciones y sentimientos que van por debajo de la realidad.</p>
          <p class="lead">&Eacute;stas fotograf&iacute;as las llevo de la mano con el diseño editorial y publicitario, ya que muchas de estas son ocupadas en el contenido digital que elaboro. Puedes ver mi portal de Flickr con mis tomas m&aacute;s recientes <a href="https://www.flickr.com/photos/judestellar/" class="enlace">aqu&iacute;</a> y mi <a href="https://www.instagram.com/camerabehind_/" class="enlace">Instagram</a> de fotos conceptuales.</p>
        </div>
        <div class="col-md-6">
        <img src="../img/fotografia-jud.png" class="img-fluid img-rounded">
        </div>
      </div>
    </div>
  </article>
 <article class="content-section-d">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <img src="../img/tantocomorespirar.png" class="img-fluid img-rounded">
        </div>
         <div class="col-md-6">
          <h2 class="section-heading"><strong>Escritura</strong></h2>
          <br>
          <p class="lead">Desde que tengo memoria he escrito al amor, la pasi&oacute;n y los sentimientos con tal de escapar de la realidad que me agobiaba, con el tiempo aprend&iacute; que podía crear cosas hermosas a partir de mis pensamientos tan grandes como el cielo que me inspira.</p>
          <p class="lead">Puedes leer una de mis historias cortas <a href="https://www.evernote.com/shard/s378/sh/ad3df3a8-daf5-46f3-9f50-9298991ebddc/990137225785542b113d5db847a2b9ca" class="enlace">aqu&iacute;</a> a través de Evernote. Y <a href="https://www.evernote.com/shard/s378/sh/33dfe5d2-14ef-4001-9676-064b33659910/1f879b9dbc0cc07aa6df9eda9531495e" class="enlace">aqu&iacute;</a> para leer una carta personal que sin duda te dejará en catarsis.</p>
        </div>
      </div>
    </div>
  </article>
</section> 

</div>
<footer>
  <div class="bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <p class="text-center">PM13025</p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

</footer>

  </div>


    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
