<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Manuel Montano</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
   <div class="container-fluid nopadding">
    <div id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top"
      id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="../index.html">Home</a>
        </li>
        <li><a href="#">Hector</a></li>
        <li><a href="Judith.html">Judith</a></li>
        <li><a href="Manuel.html">Manuel</a></li>      
      </ul>
    </nav>


  <section id="page-content-wrapper" style="padding-top: 0 !important">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top hamb-top2"></span>
        <span class="hamb-middle hamb-top2"></span>
        <span class="hamb-bottom hamb-top2"></span>
      </button>
     
              <article id="miSlide" class="carousel slide">
                <ol class="carousel-indicators">
                  <li class="active"  data-target="#miSlide" data-slide-to="0"></li>
                  <li data-target="#miSlide" data-slide-to="1"></li>
                  <li data-target="#miSlide" data-slide-to="2"></li> 
                  <li data-target="#miSlide" data-slide-to="3"></li>
                </ol>
                
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="../img/cuadro1.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                      <h3>Furesa</h3>
                      <p><em>2017</em></p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/cuadro2.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                      <h3>Jard&iacute;n Bot&aacute;nico, Plan de la Laguna</h3>
                      <p><em>2017</em></p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="../img/cuadro3.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                      <h3>Parque Bicentenario</h3>
                      <p><em>2017</em></p>
                    </div> 
                  </div>
                  <div class="item">
                    <img src="../img/cuadro4.jpg" class="adaptar">
                    <div class="carousel-caption hidden-xs hidden-md">
                      <h3>Iglesia El Rosario</h3>
                      <p><em>2017</em></p>
                    </div>
                  </div>
                </div>

                <a href="#miSlide" class="left carousel-control" data-slide="prev">  
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#miSlide" class="right carousel-control" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

              </article>

  <article class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <hr class="section-heading-spacer"/>
          <br>
          <h2 class="section-heading"><strong>Diseño Gr&aacute;fico</strong></h2>
          <br>
          <p class="lead"> <h4>Es la composici&oacute;n gr&aacute;fica de distintos elementos gr&aacute;ficos previamente seleccionados dentro de un espacio visual, combin&aacute;ndolos de tal forma que todos ellos puedan aportar un significado a la misma, logrando, transmitir un mensaje claro al espectador</h4> </p>
          <button class="btn btn-md btn-block btn-primary active">Seguir Leyendo</button>

        </div>
        <div class="col-md-5">
        <img src="../img/diseño.png" class="img-fluid img-rounded">
        </div>
      </div>
    </div>
  </article>
  <article class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="../img/editorial.png" class="img-fluid">
        </div>
          
        <div class="col-md-7">
          <hr class="section-heading-spacer"/>
          <br>
          <h2 class="section-heading"><strong>Diseño Editorial</strong></h2>
          <br>
          <p class="lead"> <h4>Es la rama del Diseño Gráfico que se encarga de la maquetación y composición de todo tipo de publicaciones: libros, revistas, periódicos, y su el principal objetivo es crear un diseño que resulte atractivo y funcional para el lector y conseguir una armonía perfecta entre forma y contenido</h4> </p>
          <button class="btn btn-md btn-block btn-primary active">Seguir Leyenado</button>
        </div>
      </div>
    </div>
  </article>
  <article class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <hr class="section-heading-spacer"/>
          <br>
          <h2 class="section-heading"><strong>Fotografia</strong></h2>
          <br>
          <p class="lead"> <h4>Es el procedimiento y arte que permite fijar y reproducir, a través de reacciones químicas y en superficies preparadas para ello, las imágenes que se recogen en el fondo de una cámara oscura</h4> </p>
          <button class="btn btn-md btn-block btn-primary active">Seguir Leyendo</button>

        </div>
        <div class="col-md-5">
        <img src="../img/foto1.jpg" class="img-fluid img-rounded">
        </div>
      </div>
    </div>
  </article>

</section> 
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2><em>Portafolio 2017</em></h2>
      </div>
    </div>
  </div>

</div>
<footer>
  <div class="bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <p class="text-center">MM12025</p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

</footer>

  </div>

   <!-- Bootstrap core JavaScript-->
<script src="../js/jquery/jquery-1.12.4.js"></script>
<script src="../js/bootstrap/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var trigger = $('.hamburger'),
    overlay = $('.overlay'),
    isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
    }

    $('[data-toggle="offcanvas"]').click(function () {
      $('#wrapper').toggleClass('toggled');
    });  
  });
</script> 
  </div>
</body>

</html>
